h1 {
    text-align: left;
    font-family: Comic Sans MS;
    color: #EBD758;
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
}

button {
    width: 170px;
    height: 50px;
    margin-top: 50px;
    border-color: #1b02ff;
    box-shadow: 0 0 30px 30px #1b02ff inset;
    transition: box-shadow 0.3s ease-in-out;
    color: #ffff;
}

button:hover {
    color: black;
    box-shadow: 0 0 12px 0 #1b02ff inset, 0 0 12px 4px #1b02ff;
}